project1_scala/hw1/.idea
project1_scala/hw1/project
project1_scala/hw1/target
project1_scala/hw1/hw1.jar
project2_scala/hw2/.idea/
project2_scala/hw2/hw2.jar
project2_scala/hw2/out.txt
project2_scala/hw2/out_scala.txt
project2_scala/hw2/project/
project2_scala/hw2/target/
inf553_ipynb/project3/Dantes-Inferno.txt
inf553_ipynb/project3/hamlet.txt
project3/output.json
